<div class="col card-div">
  <div class="card" style="width: 18rem;">
      <%= image_tag image, class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title">
              <%= title || "No Title" %>
          </h5>
          
          <p class="card-text para-justify"> <%= paragraph || "Our Website is made for the seamless user experience" %> </p>
        </div>
    </div>
</div>