<div class="field col-lg-3 ms-2">
    <select data-action="change->search#ratingFilter" class="form-select bg-light fw-bold">
        <option selected value="all">Ratings</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
</div>