<div class="field col-lg-3 ms-2">
    <select data-action="change->search#selectFilter" class="form-select bg-light fw-bold">
        <option selected value="all">Location</option>
        <option value="bangalore">Bangalore</option>
        <option value="chennai">Chennai</option>
        <option value="mumbai">Mumbai</option>
    </select>
</div>