<div class="field col-lg-3 ms-2">
    <select data-action=<%= action %> class="form-select bg-light fw-bold">
        <option selected value="all"><%= name %></option>
        <% val.each do |key, value| %>
            <option value=<%=key%> > <%=value%></option>
        <% end %>
    </select>
</div>