<div class="card w-75 mb-3 bg-light position-absolute"> 
  <div class="card-body">
  <div class="row">
  <h4 class="text-end position-relative">Contact No: 92832382</h4>
    <div class="col col-3 d-flex justify-content-center align-items-center">
        <%= image_tag "eco.avif", height: 140 %>
    </div>
    <div class="col">
        <h2 class="card-title">Rohan  (Newspaper)</h2>
        <h6 class="card-text text-secondary">Address: JP Nagar, Bangalore</h6>
        <h4><span class="badge bg-black">Bangalore</span></h4>
        <div class="d-flex justify-content-between">
            <h6 class="card-text text-secondary">Type: Newspaper</h6>
            <h6 class="card-text text-secondary">Date: 03/10/2023</h6>
            <h6 class="card-text text-secondary">Time Available: 3 - 4 PM</h6>
        </div>
    </div>
  </div>
  <div class="row">
    <p class="card-text col"> Description: I have newspapers to sell, kindly contact. </p>
    <div class="col col-2 my-2">
    <%= link_to "Request", about_path, class: "btn button-green fw-fold" %>
    </div>
  </div>
  </div>
</div>