<div class="container home-container">
    <div class="row heading">
        <div class="col">
            <h1 class="home-heading">How do you want to use Eco Pulse?</h1>
               <div class="d-grid gap-2 col-6 button-group">
                    <%= link_to "User", new_user_registration_path, class: "btn button-green fw-bold mb-4" %>
                    <%= link_to "Agency/Company", new_company_registration_path, class: "btn button-green fw-bold" %> 
               </div>
        </div>
        <div class="col home-img-container">
            <%= image_tag "Pulse.png" %>
        </div>
    </div>
</div>

