<% if company_signed_in? %>
<%= render '/shared/company_navbar' %>
<div class="container">

<h1>Posts</h1>

<div id="posts" data-controller="search" class="d-flex justify-content-center align-items-center flex-column">
  <%= render '/shared/search_bar' %>
  <% @posts.each do |post| %>
    <%= render '/shared/user_post_card', post:post, flag: false, orderFlag: true %>
  <% end %>
</div>

</div>
<% end %>