<%= render '/shared/navbar' %>
<div class="container">
  <div class="text-end">
    <%= link_to "New Post", new_post_path, class: "btn button-purple text-light fw-bold my-2" %>
  </div>

  <div id="posts" data-controller="search" class="d-flex justify-content-center align-items-center flex-column">
    
    <%= render '/shared/search_bar' %>

    <% @posts.each do |post| %>
      <%= render partial: '/shared/user_post_card', locals: {post:post} %>
    <% end %>
  </div>
</div>

