<%= render "/shared/navbar" %>
<div class="container my-3">
    <div class="">
      <h1>Create New Scrap Listing Post</h1>

      <%= render "form", post: @post %>
    </div>

<div>
  <%= link_to "Back to posts", posts_path, class: "btn btn-dark my-2" %>
</div>



</div>
