<%= render '/shared/company_navbar' %>
<div class="container">
  <h1 class="text-success">Request Sent Successfully</h1>

  <div class="bg-dark text-light p-2">
    <%= render @post %>
  </div>

</div>